# 递归查询

In [1]:
%load_ext sql

In [2]:
import pymysql 
pymysql.install_as_MySQLdb()
%sql mysql://stu2100013113:stu2100013113@162.105.146.37:43306

In [3]:
%sql use stu2100013113;

 * mysql://stu2100013113:***@162.105.146.37:43306
0 rows affected.

[]

In [6]:
%%sql
drop table if exists family;
create table  family( father char(10), son char(10) );
insert into family(father, son) values ('司马防','司马懿');
insert into family(father, son) values ('司马防','司马孚');
insert into family(father, son) values ('司马防','司马馗');
insert into family(father, son) values ('司马懿','司马师');
insert into family(father, son) values ('司马懿','司马昭');
insert into family(father, son) values ('司马懿','司马亮');
insert into family(father, son) values ('司马懿','司马伦');
insert into family(father, son) values ('司马孚','司马瑰');
insert into family(father, son) values ('司马馗','司马泰');
insert into family(father, son) values ('司马师','司马攸');
insert into family(father, son) values ('司马昭','司马炎');
insert into family(father, son) values ('司马泰','司马越');
insert into family(father, son) values ('司马攸','司马囧');
insert into family(father, son) values ('司马炎','司马衷');
insert into family(father, son) values ('司马炎','司马玮');
insert into family(father, son) values ('司马炎','司马乂');
insert into family(father, son) values ('司马炎','司马颖');
insert into family(father, son) values ('司马炎','司马炽');

 * mysql://stu2100013113:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

找出兄弟关系，需要两个儿子有同样的父亲。

In [7]:
%%sql
SELECT f1.son AS brother1, f2.son AS brother2
FROM family f1
JOIN family f2 ON f1.father = f2.father
WHERE f1.son < f2.son;

 * mysql://stu2100013113:***@162.105.146.37:43306
19 rows affected.

[('司马孚', '司马懿'),
 ('司马孚', '司马馗'),
 ('司马懿', '司马馗'),
 ('司马伦', '司马师'),
 ('司马亮', '司马师'),
 ('司马伦', '司马昭'),
 ('司马亮', '司马昭'),
 ('司马师', '司马昭'),
 ('司马亮', '司马伦'),
 ('司马炽', '司马衷'),
 ('司马乂', '司马衷'),
 ('司马玮', '司马衷'),
 ('司马炽', '司马玮'),
 ('司马乂', '司马玮'),
 ('司马炽', '司马颖'),
 ('司马乂', '司马颖'),
 ('司马玮', '司马颖'),
 ('司马衷', '司马颖'),
 ('司马乂', '司马炽')]

找出祖先关系，递归查询。祖先的父亲也是祖先。

In [8]:
%%sql
WITH RECURSIVE ancestor_relation AS (
  SELECT father, son FROM family
  UNION ALL
  SELECT ar.father, f.son
  FROM ancestor_relation ar JOIN family f ON ar.son = f.father
)
SELECT * FROM ancestor_relation;

 * mysql://stu2100013113:***@162.105.146.37:43306
48 rows affected.

[('司马防', '司马懿'),
 ('司马防', '司马孚'),
 ('司马防', '司马馗'),
 ('司马懿', '司马师'),
 ('司马懿', '司马昭'),
 ('司马懿', '司马亮'),
 ('司马懿', '司马伦'),
 ('司马孚', '司马瑰'),
 ('司马馗', '司马泰'),
 ('司马师', '司马攸'),
 ('司马昭', '司马炎'),
 ('司马泰', '司马越'),
 ('司马攸', '司马囧'),
 ('司马炎', '司马衷'),
 ('司马炎', '司马玮'),
 ('司马炎', '司马乂'),
 ('司马炎', '司马颖'),
 ('司马炎', '司马炽'),
 ('司马防', '司马师'),
 ('司马防', '司马昭'),
 ('司马防', '司马亮'),
 ('司马防', '司马伦'),
 ('司马防', '司马瑰'),
 ('司马防', '司马泰'),
 ('司马懿', '司马攸'),
 ('司马懿', '司马炎'),
 ('司马馗', '司马越'),
 ('司马师', '司马囧'),
 ('司马昭', '司马衷'),
 ('司马昭', '司马玮'),
 ('司马昭', '司马乂'),
 ('司马昭', '司马颖'),
 ('司马昭', '司马炽'),
 ('司马防', '司马攸'),
 ('司马防', '司马炎'),
 ('司马防', '司马越'),
 ('司马懿', '司马囧'),
 ('司马懿', '司马衷'),
 ('司马懿', '司马玮'),
 ('司马懿', '司马乂'),
 ('司马懿', '司马颖'),
 ('司马懿', '司马炽'),
 ('司马防', '司马囧'),
 ('司马防', '司马衷'),
 ('司马防', '司马玮'),
 ('司马防', '司马乂'),
 ('司马防', '司马颖'),
 ('司马防', '司马炽')]

找出堂兄弟关系，需要两个儿子的父亲有相同的父亲。即：cousin(X,Y):father(A,X), father(B,Y),brother(A,B)。

In [11]:
%%sql
SELECT f1.son AS cousin1, f2.son AS cousin2
FROM family f1
JOIN family f2 ON f1.father < f2.father
JOIN family f3 ON f1.father = f3.son
JOIN family f4 ON f2.father = f4.son
WHERE f3.father = f4.father;

 * mysql://stu2100013113:***@162.105.146.37:43306
10 rows affected.

[('司马瑰', '司马师'),
 ('司马瑰', '司马昭'),
 ('司马瑰', '司马亮'),
 ('司马瑰', '司马伦'),
 ('司马伦', '司马泰'),
 ('司马亮', '司马泰'),
 ('司马昭', '司马泰'),
 ('司马师', '司马泰'),
 ('司马瑰', '司马泰'),
 ('司马攸', '司马炎')]

找出叔侄关系，需要儿子的父亲与他是兄弟。即uncle(X,Y):-father(Z,Y),brother(X,Z)。

In [13]:
%%sql
SELECT f3.son AS uncle, f2.son AS nephew
FROM family f1
JOIN family f2 ON f1.son = f2.father
JOIN family f3 ON f1.father = f3.father
WHERE f1.son <> f3.son;

 * mysql://stu2100013113:***@162.105.146.37:43306
18 rows affected.

[('司马馗', '司马师'),
 ('司马孚', '司马师'),
 ('司马馗', '司马昭'),
 ('司马孚', '司马昭'),
 ('司马馗', '司马亮'),
 ('司马孚', '司马亮'),
 ('司马馗', '司马伦'),
 ('司马孚', '司马伦'),
 ('司马馗', '司马瑰'),
 ('司马懿', '司马瑰'),
 ('司马孚', '司马泰'),
 ('司马懿', '司马泰'),
 ('司马伦', '司马攸'),
 ('司马亮', '司马攸'),
 ('司马昭', '司马攸'),
 ('司马伦', '司马炎'),
 ('司马亮', '司马炎'),
 ('司马师', '司马炎')]