#窗口查询

In [1]:
%load_ext sql

In [2]:
import pymysql 
import pandas as pd

In [3]:
conn = pymysql.connect(host='162.105.146.37',user='stu2100013113', password='stu2100013113', port=43306,db="stu2100013113")
cursor = conn.cursor()
cursor.execute("drop table if exists my_stock_table")
print('1')

1

In [5]:
create = "CREATE TABLE IF NOT EXISTS my_stock_table( \
    id INT PRIMARY KEY AUTO_INCREMENT,\
    ts_code VARCHAR(10),\
    trade_date DATE,\
    open FLOAT,\
    high FLOAT,\
    low FLOAT,\
    close FLOAT,\
    pre_close FLOAT,\
    pct_chg FLOAT,\
    vol BIGINT,\
    amount FLOAT);"
cursor.execute(create)

0

In [6]:
data = pd.read_csv("csi_300.csv", header=0,
                               sep=",").fillna(0)
headers = data.columns.values.tolist()
data = data.to_numpy().tolist()
tablename = "my_stock_table"
sql = "insert into {tablename} ({columns}) values({data})".format(
            tablename=tablename, columns=",".join(headers), data=('%s,'*len(data[0]))[:-1]
)
cursor.executemany(sql, data)

247437

In [7]:
cursor.execute("select * from my_stock_table LIMIT 1")
print(cursor.fetchall())

((1, '000001.SZ', datetime.date(2020, 1, 2), 16.65, 16.95, 16.55, 16.87, 16.45, 2.5532, 1530230, 2571200.0),)

In [21]:
conn.commit()

In [8]:
pymysql.install_as_MySQLdb()
%sql mysql://stu2100013113:stu2100013113@162.105.146.37:43306
%sql use stu2100013113;

 * mysql://stu2100013113:***@162.105.146.37:43306
0 rows affected.

[]

计算Alpha#12，33，54，101.为了展示结果，这里设置了LIMIT 20.

In [35]:
%%sql
SELECT
  ts_code,
  trade_date,
  SIGN(close - LAG(close, 1) OVER (PARTITION BY ts_code ORDER BY trade_date)) * (-1 * (close - LAG(close, 1) OVER (PARTITION BY ts_code ORDER BY trade_date))) AS Alpha12
FROM
  my_stock_table LIMIT 20;

 * mysql://stu2100013113:***@162.105.146.37:43306
20 rows affected.

[('000001.SZ', datetime.date(2020, 1, 2), None),
 ('000001.SZ', datetime.date(2020, 1, 3), -0.3099994659423828),
 ('000001.SZ', datetime.date(2020, 1, 6), -0.1100006103515625),
 ('000001.SZ', datetime.date(2020, 1, 7), -0.07999992370605469),
 ('000001.SZ', datetime.date(2020, 1, 8), -0.48999977111816406),
 ('000001.SZ', datetime.date(2020, 1, 9), -0.13000106811523438),
 ('000001.SZ', datetime.date(2020, 1, 10), -0.10000038146972656),
 ('000001.SZ', datetime.date(2020, 1, 13), -0.2999992370605469),
 ('000001.SZ', datetime.date(2020, 1, 14), -0.22999954223632812),
 ('000001.SZ', datetime.date(2020, 1, 15), -0.23999977111816406),
 ('000001.SZ', datetime.date(2020, 1, 16), -0.1900005340576172),
 ('000001.SZ', datetime.date(2020, 1, 17), -0.05999946594238281),
 ('000001.SZ', datetime.date(2020, 1, 20), -0.060001373291015625),
 ('000001.SZ', datetime.date(2020, 1, 21), -0.4500007629394531),
 ('000001.SZ', datetime.date(2020, 1, 22), -0.09000015258789062),
 ('000001.SZ', datetime.date(2020, 1, 23), -0.5500001907348633),
 ('000001.SZ', datetime.date(2020, 2, 3), -1.5500001907348633),
 ('000001.SZ', datetime.date(2020, 2, 4), -0.6100006103515625),
 ('000001.SZ', datetime.date(2020, 2, 5), -0.029999732971191406),
 ('000001.SZ', datetime.date(2020, 2, 6), -0.1400003433227539)]

In [37]:
%%sql
SELECT
  ts_code,
  trade_date,
  RANK() OVER (ORDER BY -1 * POW(1 - open / close, 1)) / COUNT(*) OVER () AS Alpha33
FROM
 my_stock_table LIMIT 20;

 * mysql://stu2100013113:***@162.105.146.37:43306
20 rows affected.

[('300979.SZ', datetime.date(2021, 4, 26), Decimal('0.0000')),
 ('601728.SH', datetime.date(2021, 8, 20), Decimal('0.0000')),
 ('688126.SH', datetime.date(2020, 7, 29), Decimal('0.0000')),
 ('688396.SH', datetime.date(2020, 2, 28), Decimal('0.0000')),
 ('300763.SZ', datetime.date(2020, 9, 11), Decimal('0.0000')),
 ('000708.SZ', datetime.date(2020, 2, 4), Decimal('0.0000')),
 ('688005.SH', datetime.date(2020, 2, 10), Decimal('0.0000')),
 ('688126.SH', datetime.date(2020, 7, 13), Decimal('0.0000')),
 ('688008.SH', datetime.date(2020, 2, 7), Decimal('0.0000')),
 ('600905.SH', datetime.date(2021, 6, 10), Decimal('0.0000')),
 ('300223.SZ', datetime.date(2021, 5, 27), Decimal('0.0000')),
 ('601868.SH', datetime.date(2021, 9, 28), Decimal('0.0000')),
 ('603290.SH', datetime.date(2020, 2, 4), Decimal('0.0001')),
 ('605499.SH', datetime.date(2021, 5, 27), Decimal('0.0001')),
 ('605117.SH', datetime.date(2021, 4, 20), Decimal('0.0001')),
 ('603195.SH', datetime.date(2020, 2, 6), Decimal('0.0001')),
 ('300274.SZ', datetime.date(2020, 9, 11), Decimal('0.0001')),
 ('600918.SH', datetime.date(2020, 6, 3), Decimal('0.0001')),
 ('300769.SZ', datetime.date(2021, 8, 12), Decimal('0.0001')),
 ('688012.SH', datetime.date(2020, 1, 22), Decimal('0.0001'))]

In [38]:
%%sql
SELECT
  ts_code,
  trade_date,
  (-1 * ((low - close) * POW(open, 5))) / ((low - high) * POW(close, 5)) AS Alpha54
FROM
  my_stock_table LIMIT 20;

 * mysql://stu2100013113:***@162.105.146.37:43306
20 rows affected.

[('000001.SZ', datetime.date(2020, 1, 2), -0.7491799106493531),
 ('000001.SZ', datetime.date(2020, 1, 3), -0.6213854292036899),
 ('000001.SZ', datetime.date(2020, 1, 6), -0.3655988619759651),
 ('000001.SZ', datetime.date(2020, 1, 7), -0.6025315686411671),
 ('000001.SZ', datetime.date(2020, 1, 8), -0.07902262769854222),
 ('000001.SZ', datetime.date(2020, 1, 9), -0.6538815030491126),
 ('000001.SZ', datetime.date(2020, 1, 10), -0.6039826314505853),
 ('000001.SZ', datetime.date(2020, 1, 13), -0.8426368738343487),
 ('000001.SZ', datetime.date(2020, 1, 14), 0.0),
 ('000001.SZ', datetime.date(2020, 1, 15), -0.18514661466523072),
 ('000001.SZ', datetime.date(2020, 1, 16), -0.3722712005522921),
 ('000001.SZ', datetime.date(2020, 1, 17), -0.19938679888262384),
 ('000001.SZ', datetime.date(2020, 1, 20), -0.38228404419834405),
 ('000001.SZ', datetime.date(2020, 1, 21), -0.18965872189155888),
 ('000001.SZ', datetime.date(2020, 1, 22), -0.8007675839175155),
 ('000001.SZ', datetime.date(2020, 1, 23), -0.31935576778041175),
 ('000001.SZ', datetime.date(2020, 2, 3), 0.0),
 ('000001.SZ', datetime.date(2020, 2, 4), -0.7479381600796723),
 ('000001.SZ', datetime.date(2020, 2, 5), -0.5364654613173272),
 ('000001.SZ', datetime.date(2020, 2, 6), -0.7320562519400782)]

In [36]:
%%sql
SELECT
  ts_code,
  trade_date,
  (close - open) / (high - low + .001) AS Alpha101
FROM
  my_stock_table LIMIT 20;

 * mysql://stu2100013113:***@162.105.146.37:43306
20 rows affected.

[('000001.SZ', datetime.date(2020, 1, 2), 0.548629385439198),
 ('000001.SZ', datetime.date(2020, 1, 3), 0.6138111144724728),
 ('000001.SZ', datetime.date(2020, 1, 6), 0.1392097992086394),
 ('000001.SZ', datetime.date(2020, 1, 7), 0.0604243576244245),
 ('000001.SZ', datetime.date(2020, 1, 8), -0.8076011662062029),
 ('000001.SZ', datetime.date(2020, 1, 9), -0.049871744238403244),
 ('000001.SZ', datetime.date(2020, 1, 10), -0.3436450938290258),
 ('000001.SZ', datetime.date(2020, 1, 13), 0.5700706119364085),
 ('000001.SZ', datetime.date(2020, 1, 14), -0.45009674993612064),
 ('000001.SZ', datetime.date(2020, 1, 15), -0.6569356642435502),
 ('000001.SZ', datetime.date(2020, 1, 16), -0.5121322939997909),
 ('000001.SZ', datetime.date(2020, 1, 17), 0.049752665767379876),
 ('000001.SZ', datetime.date(2020, 1, 20), 0.07663003917412958),
 ('000001.SZ', datetime.date(2020, 1, 21), -0.8272512866579549),
 ('000001.SZ', datetime.date(2020, 1, 22), 0.3769404616178109),
 ('000001.SZ', datetime.date(2020, 1, 23), -0.7156314605181436),
 ('000001.SZ', datetime.date(2020, 2, 3), 0.0),
 ('000001.SZ', datetime.date(2020, 2, 4), 0.858035435940924),
 ('000001.SZ', datetime.date(2020, 2, 5), 0.07005239303704566),
 ('000001.SZ', datetime.date(2020, 2, 6), -0.11080332380700725)]