In [1]:
%load_ext sql

In [2]:
import pymysql 
pymysql.install_as_MySQLdb()
%sql mysql://stu2100013107:stu2100013107@162.105.146.37:43306

In [3]:
%sql use stu2100013107;

 * mysql://stu2100013107:***@162.105.146.37:43306
0 rows affected.

[]

# JSON操作

手动处理文件，删除所有注释并且修改建表指令为drop table if exists ***

In [4]:
file = open("建表.txt",'r')
content = file.read()
sql_commands = content.split(';')

db = pymysql.connect(host='162.105.146.37',user='stu2100013107', password='stu2100013107', port=53306, db="stu2100013107")
cursor = db.cursor()

for line in sql_commands:
    try:
        cursor.execute(line)
        db.commit()
    except:
        db.rollback()

In [5]:
file = open("数据.txt",'r')
content = file.read()
sql_commands = content.split(';')

db = pymysql.connect(host='162.105.146.37',user='stu2100013107', password='stu2100013107', port=53306, db="stu2100013107")
cursor = db.cursor()

for line in sql_commands:
    try:
        cursor.execute(line)
        db.commit()
    except:
        db.rollback()

使用一个WITH子句来创建一个包含产品编号和名称的临时表RankedProducts，然后在外部查询中过滤出前5个产品,查询将返回一个JSON对象，其中包含每个客户的ID、名称、地址信息以及他们购买的前5种产品信息数组。

In [6]:
%%sql
WITH RankedProducts AS (
    SELECT
        o.custid,
        p.productid,
        p.productname,
        od.unitprice * od.qty * (1 - od.discount) AS totalAmount,
        ROW_NUMBER() OVER (PARTITION BY o.custid ORDER BY o.orderid) AS product_rank
    FROM Orders o
    LEFT JOIN OrderDetails od ON o.orderid = od.orderid
    JOIN Products p ON od.productid = p.productid
)
SELECT
    JSON_OBJECT(
        'customerId', c.custid,
        'customerName', c.contactname,
        'addr', JSON_OBJECT(
            'country', c.country,
            'city', c.city
        ),
        'products', JSON_ARRAYAGG(
            concat(rp.productname,':',rp.totalAmount) 
        )
    ) AS customer_json
FROM Customers c
LEFT JOIN RankedProducts rp ON c.custid = rp.custid
WHERE rp.product_rank <= 5 OR rp.product_rank IS NULL
GROUP BY c.custid
LIMIT 10

 * mysql://stu2100013107:***@162.105.146.37:43306
10 rows affected.

[('{"addr": {"city": "Berli", "country": "Germany"}, "products": ["Product OFBNT:513.000000000", "Product LSOFL:283.500000000", "Product CBRRL:18.000000000", "Product ICKNK:878.000000000", "Product IMEHJ:60.000000000"], "customerId": 1, "customerName": "Allen, Michael"}',),
 ('{"addr": {"city": "México D.F.", "country": "Mexico"}, "products": ["Product COAXA:28.800000000", "Product TOONT:60.000000000", "Product PWCJB:69.750000000", "Product RJVNM:70.000000000", "Product WHBYK:340.000000000"], "customerId": 2, "customerName": "Hassall, Mark"}',),
 ('{"addr": {"city": "México D.F.", "country": "Mexico"}, "products": ["Product QMVU:403.200000000", "Product ZZZHR:586.500000000", "Product MYNX:162.562500000", "Product QMVU:945.000000000", "Product YZIXQ:165.600000000"], "customerId": 3, "customerName": "Peoples, Joh"}',),
 ('{"addr": {"city": "Londo", "country": "UK"}, "products": ["Product QOGNU:90.000000000", "Product OVLQI:390.000000000", "Product POXFU:96.000000000", "Product BIUDV:195.000000000", "Product VKCMF:608.000000000"], "customerId": 4, "customerName": "Arndt, Torste"}',),
 ('{"addr": {"city": "Luleå", "country": "Swede"}, "products": ["Product VJIEO:248.000000000", "Product UKXRI:660.000000000", "Product ICKNK:280.800000000", "Product WEUJZ:300.000000000", "Product QOGNU:43.200000000"], "customerId": 5, "customerName": "Higginbotham, Tom"}',),
 ('{"addr": {"city": "Mannheim", "country": "Germany"}, "products": ["Product QAQRL:149.000000000", "Product OFBNT:136.800000000", "Product OVLQI:78.000000000", "Product JYGFE:252.000000000", "Product QMVU:294.000000000"], "customerId": 6, "customerName": "Poland, Carole"}',),
 ('{"addr": {"city": "Strasbourg", "country": "France"}, "products": ["Product BLCAX:936.000000000", "Product TOONT:240.000000000", "Product LSOFL:864.000000000", "Product GEEOO:556.000000000", "Product OFBNT:1092.000000000"], "customerId": 7, "customerName": "Bansal, Dushyant"}',),
 ('{"addr": {"city": "Madrid", "country": "Spai"}, "products": ["Product KSBRM:422.400000000", "Product OVLQI:249.600000000", "Product BWRLG:310.000000000", "Product BLCAX:1170.000000000", "Product VJXY:1856.850000000"], "customerId": 8, "customerName": "Ilyina, Julia"}',),
 ('{"addr": {"city": "Marseille", "country": "France"}, "products": ["Product QAQRL:88.500000000", "Product CKEDC:950.000000000", "Product TTEEX:87.780000000", "Product ZZZHR:1398.400000000", "Product LYLNI:560.000000000"], "customerId": 9, "customerName": "Raghav, Amritansh"}',),
 ('{"addr": {"city": "Tsawasse", "country": "Canada"}, "products": ["Product YHXGE:396.800000000", "Product YYWRT:288.000000000", "Product WUXYK:788.000000000", "Product TOONT:360.000000000", "Product ASTM:98.000000000"], "customerId": 10, "customerName": "Bassols, Pilar Colome"}',)]

In [7]:
%%sql
drop table if exists custInfo;
CREATE TABLE custInfo (
    id INT AUTO_INCREMENT PRIMARY KEY,
    Info JSON
);

INSERT INTO custInfo (Info)
WITH RankedProducts AS (
    SELECT
        o.custid,
        p.productid,
        p.productname,
        od.unitprice * od.qty * (1 - od.discount) AS totalAmount,
        ROW_NUMBER() OVER (PARTITION BY o.custid ORDER BY o.orderid) AS product_rank
    FROM Orders o
    LEFT JOIN OrderDetails od ON o.orderid = od.orderid
    JOIN Products p ON od.productid = p.productid
)
SELECT 
    JSON_OBJECT(
                'customerId', c.custid,
        'customerName', c.contactname,
        'addr', JSON_OBJECT(
            'country', c.country,
            'city', c.city
        ),
        'products', JSON_ARRAYAGG(
                concat(rp.productname, ':', rp.totalAmount)
        ) 
    ) AS customer_json
FROM Customers c
LEFT JOIN RankedProducts rp ON c.custid = rp.custid
WHERE rp.product_rank <= 5 OR rp.product_rank IS NULL
GROUP BY c.custid

 * mysql://stu2100013107:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
91 rows affected.

[]

In [8]:
%%sql
SELECT id,Info
FROM custInfo
WHERE JSON_EXTRACT(Info, '$.addr.country') = 'USA'

 * mysql://stu2100013107:***@162.105.146.37:43306
13 rows affected.

[(32, '{"addr": {"city": "Eugene", "country": "USA"}, "products": ["Product QMVU:63.000000000", "Product ASTM:16.000000000", "Product GEEOO:313.200000000", "Product NEVTJ:72.000000000", "Product QDOMO:3754.875000000"], "customerId": 32, "customerName": "Krishnan, Venky"}'),
 (36, '{"addr": {"city": "Elgi", "country": "USA"}, "products": ["Product PWCJB:279.000000000", "Product QAQRL:59.000000000", "Product POXFU:48.000000000", "Product WUXYK:394.000000000", "Product BLCAX:62.400000000"], "customerId": 36, "customerName": "Smith, Denise"}'),
 (43, '{"addr": {"city": "Walla Walla", "country": "USA"}, "products": ["Product YZIXQ:147.000000000", "Product QMVU:210.000000000"], "customerId": 43, "customerName": "Deshpande, Anu"}'),
 (45, '{"addr": {"city": "San Francisco", "country": "USA"}, "products": ["Product KSZOI:155.000000000", "Product BWRLG:162.750000000", "Product CKEDC:562.500000000", "Product LYERX:58.252500000", "Product QAQRL:223.500000000"], "customerId": 45, "customerName": "Sunkammurali,  Krishna"}'),
 (48, '{"addr": {"city": "Portland", "country": "USA"}, "products": ["Product WUXYK:394.000000000", "Product TBTBL:30.000000000", "Product HHYDP:288.000000000", "Product OFBNT:319.200000000", "Product XLXQF:98.000000000"], "customerId": 48, "customerName": "Szymczak, Radosław"}'),
 (55, '{"addr": {"city": "Anchorage", "country": "USA"}, "products": ["Product CKEDC:1125.000000000", "Product VJXY:2227.500000000", "Product LSOFL:388.800000000", "Product BLCAX:624.000000000", "Product LYERX:310.500000000"], "customerId": 55, "customerName": "Egelund-Muller, Anja"}'),
 (65, '{"addr": {"city": "Albuquerque", "country": "USA"}, "products": ["Product EPEIM:163.200000000", "Product HMLNI:360.000000000", "Product VKCMF:60.800000000", "Product QHFFP:388.800000000", "Product XWOXC:400.000000000"], "customerId": 65, "customerName": "Moore, Michael"}'),
 (71, '{"addr": {"city": "Boise", "country": "USA"}, "products": ["Product PAFRH:248.115000000", "Product NEVTJ:856.800000000", "Product CBRRL:288.000000000", "Product UKXRI:1496.000000000", "Product ICKNK:2386.800000000"], "customerId": 71, "customerName": "Navarro, Tomás"}'),
 (75, '{"addr": {"city": "Lander", "country": "USA"}, "products": ["Product ASTM:48.000000000", "Product XKXDO:69.350000000", "Product LYERX:157.320000000", "Product QDOMO:4005.200000000", "Product VKCMF:346.560000000"], "customerId": 75, "customerName": "Wojciechowska, Agnieszka"}'),
 (77, '{"addr": {"city": "Portland", "country": "USA"}, "products": ["Product PAFRH:139.000000000", "Product WUXYK:197.000000000", "Product EPEIM:85.400000000", "Product GMKIJ:95.000000000", "Product SWNJY:140.000000000"], "customerId": 77, "customerName": "Osorio, Cristia"}'),
 (78, '{"addr": {"city": "Butte", "country": "USA"}, "products": ["Product OFBNT:456.000000000", "Product VJXY:742.740000000", "Product VJIEO:194.500000000", "Product YHXGE:186.000000000", "Product XLXQF:42.000000000"], "customerId": 78, "customerName": "Young, Robi"}'),
 (82, '{"addr": {"city": "Kirkland", "country": "USA"}, "products": ["Product ASTM:35.000000000", "Product YZIXQ:36.800000000", "Product WUXYK:493.000000000", "Product HCQDE:199.500000000", "Product LSOFL:180.000000000"], "customerId": 82, "customerName": "Veninga, Tjeerd"}'),
 (89, '{"addr": {"city": "Seattle", "country": "USA"}, "products": ["Product ASTM:114.000000000", "Product GEEOO:528.200000000", "Product KSBRM:616.000000000", "Product WVJFP:1680.000000000", "Product RECZE:516.800000000"], "customerId": 89, "customerName": "Smith Jr., Ronaldo"}')]

In [9]:
%%sql
SELECT
    SUBSTRING_INDEX(SUBSTRING_INDEX(product_info, ':', 1), '"', -1) AS product_name,
    ROUND(SUM(SUBSTRING_INDEX(SUBSTRING_INDEX(product_info, ':', -1), '"', 1)),2) AS total_amount
FROM
    custInfo,
    JSON_TABLE(
        Info,
        '$.products[*]' COLUMNS (
            product_info VARCHAR(100) PATH '$'
        )
    ) AS jt
GROUP BY
    product_name
LIMIT 10

 * mysql://stu2100013107:***@162.105.146.37:43306
10 rows affected.

[('Product OFBNT', 7251.0),
 ('Product LSOFL', 3321.9),
 ('Product CBRRL', 876.72),
 ('Product ICKNK', 3984.5),
 ('Product IMEHJ', 844.0),
 ('Product COAXA', 3828.96),
 ('Product TOONT', 2333.4),
 ('Product PWCJB', 1799.55),
 ('Product RJVNM', 688.8),
 ('Product WHBYK', 8343.6)]